[user]
	name = Cesar Frias
	email = cagfrias@gmail.com
[color]
    diff = auto
    status = auto
    branch = auto
    pager = true
    ui = auto
[color "branch"]
    current = green reverse
    local = yellow
    remote = red
[color "diff"]
    meta = yellow
    frag = magenta
    old = red
    new = green
[color "status"]
    added = yellow
    changed = red
    untracked = red reverse
[core]
    editor = vim
[push]
	default = simple
