[user]
	name = César Frias
	email = cagfrias@gmail.com
[color]
    diff = auto
    status = auto
    branch = auto
    pager = true
    ui = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[core]
    editor = vim
